{% extends "base.html.twig" %}

{% block title %}QuizQuest - Quiz{% endblock %}

{% block main %}
    <div class="mb-3">
        <label for="difficulty" class="form-label">Answer</label>
        <select class="form-select" id="Answer" name="Answer" required>
            <option value="">Easy</option>

            //hier sollen so viele Buttons wie es für diese Fragen Antworten gibt, erscheinen

        </select>
    </div>
{% endblock main %}

